@font-face {
    font-family: rlight;
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: rmedium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
body{
    background: url(../assets/images/padel2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 600px;
}
.main{
    background-color: #ffffff;
    border-radius: 5px;
}
.container__flex{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    align-items: center;
    padding: 10px 0px;
}
.alert__container{
    width: 500px;
    text-align: center;
}
.container__pistascentral{
    text-align: center;
}
.img__pistas{
    padding: 10px;
    width: 150px;
}
.h2__horarios{
    text-align: center;
    font-family: rmedium;
}
.p__horarios{
    font-family: rlight;
    padding: 0px 10px;
}
.container__text{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    margin: 40px 0px;
}
.form__select{
    text-align: center;
    margin: 0px 0px 20px;
}
.select{
    width: 40%;
    border-radius: 5px;
    color: #1C70B6;
    height: 30px;
    font-family: rlight;
    outline: none;
    padding: 0px 5px;
    border: 1px solid #1C70B6;
}

.form__reservas{
    border: 1px solid #1C70B6;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0px;
    width: 500px;
    background-color: #1C70B6;
    border-radius: 5px;
}
.p__horarios--hora{
    color: #ffffff;
}

.section__botones{
    text-align: center;
    margin: 0px 0px 10px;
    padding: 0px 0px 20px;
}
.link__botones{
    padding: 10px;
    width: 200px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #1C70B6;
    background-color: #1C70B6;
    color: #ffffff;
    font-family: rlight;
}
.link__botones:hover{
    background-color: #ffffff;
    color: #1C70B6;
}
 .form__button{
    margin: 40px 0px;
    text-align: center;
 }
.link__reserva{
    text-align: center;
    background-color: #b6901c;
    color: #ffffff;
    text-decoration: none;
    font-family: rlight;
    font-size: 1.2rem;
    padding: 5px 0px;
    width: 100%;
    border-radius: 10px;
    border: none;
    border: 1px solid #b6901c;
}
.link__reserva:hover{
    background-color: #9b7a18;
    border: 1px solid #9b7a18;
}
.ocupado{
    background-color: #b61f1c;
}
.libre{
    background-color: #1cb64d; 
}

.login__error{
    color: red;
}


