@font-face {
    font-family: rlight;
    src: url(../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: rmedium;
    src: url(../assets/fonts/Roboto-Medium.ttf);
}
body{
    background-color: #071823ca;
    max-width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    background: url(../assets/images/padel2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 900px;
    border-radius: 10px;
}
.container__title,.container__subtitle{
    font-variant: small-caps;
    text-align: center;

}
.container__title{
    font-size: 3.5rem;
    margin-bottom: 0;
    font-family: rmedium;
}
.container__subtitle{
    font-size: 1.75rem;
    font-family: rlight;
}
.container__link{
    border: 2px groove #071823ca;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    font-variant: small-caps;
    font-size: 1.2rem;
    padding: 25px;
}
.container__logo{
    display: inline-block;
    width: 40%;
}

.link__botones{
    padding: 10px;
    width: 200px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #1C70B6;
    background-color: #1C70B6;
    color: #ffffff;
    font-family: rlight;
    text-align: center;
}
.link__botones:hover{
    background-color: #ffffff;
    color: #1C70B6;
}
